<tr>
    <td style="padding: 20px; text-align: left; font-size: 16px; color: #333;">
        {{name}}, you have successfully logged out!
    </td>
</tr>
<tr>
    <td style="padding: 20px; text-align: left; font-size: 16px; color: #333;">
        <p style="margin: 17px 0 0;">
            If you did not log out or believe this was a mistake, please click the link below to log back in.
        </p>
        <a href="{{frontUrl}}/login">LOG BACK IN</a>
    </td>
</tr>