<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, Welcome on our platform!

        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                Congratulations on joining the AutoRia family! 🚀 Your journey to finding the perfect car just got easier.
                Explore our wide selection, compare deals, and let us help you hit the road in style.<br>

                Happy driving!
                The AutoRia Team
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <button>SUBMIT</button>
        </td>
    </tr>
</table>